<div class="component-content">
  <div class="lefthalf">
    <span class="component-title">{{ title }} </span>
  </div>
</div>

<p *ngIf="!actor">Loading...</p>

<div *ngIf="actor">
  <main class="single">
    <table class="table table-sm">
      <tr>
        <th>First Name:</th>
        <td>
          <input
            [(ngModel)]="actor.firstName"
            type="text"
            class="rounded"
            disabled
          />
        </td>
      </tr>
      <tr>
        <th>Last Name:</th>
        <td>
          <input
            [(ngModel)]="actor.lastName"
            type="text"
            class="rounded"
            disabled
          />
        </td>
      </tr>
      <tr>
        <th>Gender:</th>
        <td>
          <input
            [(ngModel)]="actor.gender"
            type="text"
            class="rounded"
            disabled
          />
        </td>
      </tr>
      <tr>
        <th>Birth Date:</th>
        <td>
          <input
            [(ngModel)]="actor.birthDate"
            type="date"
            class="rounded"
            disabled
          />
        </td>
      </tr>
      <tr>
        <td>
          <span>
            <span
              ><button (click)="delete()" class="btn btn-sm btn-danger"
                >Delete</button
              ></span
            >
            <span>
              |
              <button
                routerLink="/actors/edit/{{ actor.id }}"
                class="btn btn-sm btn-primary"
                >Edit</button
              ></span
            >
            <span>
              |
              <button (click)="backClicked()" class="btn btn-sm btn-secondary"
                >Back</button
              ></span
            >
          </span>
        </td>
      </tr>
    </table>
  </main>
</div>
