<h1>{{ title }}</h1>
<table class="table table-sm table-striped">
  <thead class="thead-dark">
    <tr>
      <th><a (click)="sortBy('id')">ID</a></th>
      <th><a (click)="sortBy('lastName')">Name</a></th>
      <th><a (click)="sortBy('gender')">Gender</a></th>
      <th><a (click)="sortBy('birthDate')">Birth Date</a></th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let a of actors | sort:sortCriteria:sortOrder">
      <td>{{ a.id }}</td>
      <td>{{ a.firstName + " " + a.lastName }}</td>
      <td>{{ a.gender }}</td>
      <td>{{ a.birthDate }}</td>
      <td>Detail | Edit</td>
    </tr>
  </tbody>
</table>
