<div class="component-content">
  <div class="lefthalf">
    <span class="component-title">{{ title }} </span>
    <span>
      <a routerLink="/actors/create">
        <img
          id="createnew"
          width="20"
          height="20"
          src="assets/add-icon.png"
          title="Add New"
      /></a>
    </span>
  </div>
</div>
<table class="table table-sm table-striped">
  <thead class="thead-dark">
    <tr>
      <th><a (click)="sortBy('id')">ID</a></th>
      <th><a (click)="sortBy('lastName')">Name</a></th>
      <th><a (click)="sortBy('gender')">Gender</a></th>
      <th><a (click)="sortBy('birthDate')">Birth Date</a></th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let a of actors | sort:sortCriteria:sortOrder">
      <td>{{ a.id }}</td>
      <td>{{ a.firstName + " " + a.lastName }}</td>
      <td>{{ a.gender }}</td>
      <td>{{ a.birthDate }}</td>
      <td>Detail | Edit</td>
    </tr>
  </tbody>
</table>
