<div class="component-content">
    <div class="lefthalf">
      <span class="component-title">{{ title }} </span>
    </div>
  </div>
  
  <p *ngIf="!movie">Loading...</p>
  
  <div *ngIf="movie">
    <main class="single">
      <table class="table table-sm">
        <tr>
          <th>Title:</th>
          <td><input [(ngModel)]="movie.title" type="text" class="rounded" disabled/></td>
        </tr>
        <tr>
          <th>Rating:</th>
          <td>
            <input [(ngModel)]="movie.rating" type="text" class="rounded" disabled/>
          </td>
        </tr>
        <tr>
          <th>Year:</th>
          <td>
            <input [(ngModel)]="movie.year" type="number" class="rounded" disabled/>
          </td>
        </tr>
        <tr>
          <th>Director:</th>
          <td>
            <input [(ngModel)]="movie.director" type="text" class="rounded" disabled/>
          </td>
        </tr>
        <tr>
          <td>
            <span >
                <span><button (click)="delete()" class="btn btn-sm btn-danger">Delete</button></span>
                <span> | <button routerLink="/movies/edit/{{ movie.id }}" class="btn btn-sm btn-primary">Edit</button></span>
                <span> | <button (click)="backClicked()" class="btn btn-sm btn-secondary">Back</button></span>
            </span>
          </td>
        </tr>
      </table>
    </main>
  </div>
  